.product-form p {
  font: normal normal normal 14px/20px Axiforma;
  letter-spacing: 0px;
  color: #1a1a1a;
  opacity: 1;
}

.product-container {
  width: 296px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001c;
  border-radius: 15px;
  opacity: 1;
}
.main-btn {
  width: 134px;
  height: 45px;
  background: #fff700 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  border: none;
  font: normal normal 600 14px/26px Axiforma;
  letter-spacing: 0px;
  color: #1a1a1a;
}
.custom-form {
  width: 296px;
  height: 824px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
  opacity: 1;
}


.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 36px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 6px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 32px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 6px;
}

input:checked + .slider {
  background-color: #ef0031;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slider:after {
  content:'Yes';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
input:checked + .slider:after {
  content:'No';
}
